<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<!-- Shop Details Section End -->
<link rel="stylesheet" href="/userElem/css/single.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/tiny-slider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Packages</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span><a href="/package">Packages</a></span>
                        <span>View Pacakges</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <style>
        .container {
            max-width: 1200px;
        }

        .content {
            max-width: 1361px;
        }
    </style>
    <div class="container">
        <div class="row">
            {{#each packageInfo}}
            <div class="col-lg-6">
                <div class="c-product-container d-block mt-0">
                    <div class="c-product-container_element c-product-container_element--images">
                        <div class="c-product-image-viewer">
                            <div class="c-product-image-viewer__carousel">
                                <div class="o-slider-image-viewer">
                                    <ul class="o-slider-image-viewer__inner js-sliderImageViewer">
                                        {{#each Image}}
                                        <li class="o-slider-image-viewer__slide">
                                            <img class="c-product-image-viewer__image" src="/uploads/{{this}}">
                                        </li>
                                        {{/each}}
                                    </ul>
                                    <div class="o-slider-image-viewer__nav js-imageViewerNav">
                                        {{#each Image}}
                                        <span class="o-slider-image-viewer__dot">
                                            <img class="o-slider-image-viewer__dot-image" src="/uploads/{{this}}">
                                        </span>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- script for slide image --}}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/min/tiny-slider.js"></script>
            <script>
                var slider = tns({
                    arrowKeys: true,
                    container: ".js-sliderImageViewer",
                    controls: false,
                    loop: false,
                    mouseDrag: true,
                    navContainer: ".js-imageViewerNav",
                });
            </script>

            <div class="col-lg-6">
                <div class="product__details__text">
                    <h2 class="text-left">{{this.name}}</h2>

                    <h4 class="text-left mt-3">₹ {{this.price.child}} - ₹ {{this.price.adult}}</h4>

                </div>
                <div class="product__details__option mt-5">
                    <input type="text" value="{{this.days}}" id="days" hidden>
                    <form action="/booking" method="post" id="booking">
                        <div class="form-group d-flex">
                            <div class="d-flexflex flex-column mr-3">
                                <label for="myID"><span class="text text-dark">Boarding Date</span> </label>
                                <input type="text" class="form-control  mb-4" placeholder="Boarding Date" name="date"
                                    id="myID" required>
                            </div>
                            <div class="d-flexflex flex-column">
                                <label for="myID"><span class="text text-dark">Return Date </span></label>
                                <input type="text" class="form-control  mb-4" placeholder="return Date" name="destdate"
                                    id="myID2" required>
                            </div>
                        </div>

                        <div class="product__details__cart__option">
                            <div class="d-flex">
                            <div class="col-md-3 d-flex mr-4">
                                <span class="minus">
                                    -
                                </span>
                                <input class="input-qty" name="adultCount" type="number" value="1" readonly>
                                <span class="plus">+</span>
                            </div>

                            <div class="col-md-3 d-flex ">
                                <span class="minus">
                                    -
                                </span>
                                <input class="input-qty" name="childCount" type="number" value="0" readonly>
                                <span class="plus">+</span>
                            </div>
                            </div>
                            <input type="text" name="package" value="{{this._id}}" hidden>
                            <div class="col d-grid">
                                <button type="submit" class="btn btn-success btn-lg mt-5">Place Order</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="product__details__last__option">
                    <ul>
                        <li><span>Category:</span> {{this.category.categoryName}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="container content">
        <div class="row ">
            <h3>Description</h3>
            <p>{{this.description}}</p>
            {{/each}}
        </div>
        <br>
    <br>
    <div class="d-flex justify-content-center">
        <hr class="w-75 text-center">
        <br>
    </div>
        {{!-- {{#each reviews}}
        <div class="row">
 
            <div class="card border-primary mb-3 w-100" >
  <div class="card-body text-primary">
    <h4>{{this.user.name}}<span>{{this.reviews.date}}</span></h4>
    <div class="star-rating">
                            <input type="radio" id="5-stars" name="rate" hidden />
                            <label for="5-stars" class="star">&#9733;</label>
                            <input type="radio" id="4-stars" name="rate" hidden />
                            <label for="4-stars" class="star">&#9733;</label>
                            <input type="radio" id="3-stars" name="rate" hidden />
                            <label for="3-stars" class="star">&#9733;</label>
                            <input type="radio" id="2-stars" name="rate" hidden />
                            <label for="2-stars" class="star">&#9733;</label>
                            <input type="radio" id="1-star" name="rate" hidden />
                            <label for="1-star" class="star">&#9733;</label>
                        </div>
    <script>
       if("{{this.reviews.ratings}}"=="5"){
       }
    </script>
    <h5 class="card-title">{{this.reviews.ratings}}</h5>
    <p class="card-text">{{this.reviews.reviews}}</p>
  </div>
</div>
            
            
        </div>
        {{/each}}
    </div>

    

    <br>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                            <h2>Reviews</h2>
                            <button class="rating_circle">4.1</button>
                            <div>
                                <div class="stars-outer mt-4">
                                    <div class="stars-inner"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="progress mt-5" style="height:10px">
                               <div class="progress-bar dark" style="width:70%;height:10px"></div>
                            </div>
                            <div class="progress mt-3" style="height:10px">
                                <div class="progress-bar dark" style="width:10%;height:10px"></div>
                            </div>
                            <div class="progress mt-3" style="height:10px">
                                <div class="progress-bar dark" style="width:10%;height:10px"></div>
                            </div>
                            <div class="progress mt-3" style="height:10px">
                                <div class="progress-bar dark" style="width:5%;height:10px"></div>
                            </div>
                            <div class="progress mt-3" style="height:10px">
                                <div class="progress-bar dark" style="width:5%;height:10px"></div>
                            </div>                
                        </div>
                </div>
            </div>
            {{#if completed}}
            <div class="col-md-6">
                <div class="row">
                    <form id="rating">
                        <div class="star-rating">
                            <input type="radio" id="5-stars" name="rate" value="5" />
                            <label for="5-stars" class="star">&#9733;</label>
                            <input type="radio" id="4-stars" name="rate" value="4" />
                            <label for="4-stars" class="star">&#9733;</label>
                            <input type="radio" id="3-stars" name="rate" value="3" />
                            <label for="3-stars" class="star">&#9733;</label>
                            <input type="radio" id="2-stars" name="rate" value="2" />
                            <label for="2-stars" class="star">&#9733;</label>
                            <input type="radio" id="1-star" name="rate" value="1" />
                            <label for="1-star" class="star">&#9733;</label>
                        </div>
                </div>
                <div class="row">
                    <textarea class="form-control" name="review" id="exampleFormControlTextarea1" rows="3"></textarea>
                    {{#each packageInfo}}
                    <input type="text" name="package" value="{{this._id}}" hidden>
                    {{/each}}
                    <button class="btn btn-primary ml-auto mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{/if}}
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <hr class="w-75 text-center">
    </div>

    <br>
    <div class="container content">
        <div class="row "> --}}


            <h3 class=" mb-4">Related Package</h3>
            <br>
            <div class="col-lg-12 ">
                <div id="rlFilter" class="row ">

                    {{#each relatedPackage}}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card overflow-hidden shadow"><span
                                class="badge badge-pill badge-danger position-absolute fs-5 pt-2 pb-2 mt-2 ml-2">Related</span>
                            <img class="card-img-top" src="/uploads/{{this.Image.[0]}}" alt="" style="height: 25rem;" />
                            <div class="card-body">
                                <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                                    <h4 class="text-secondary fw-medium"><a class=" text-decoration-none"
                                            href="/fetchpackage/{{this._id}}">{{this.name}}</a></h4><span
                                        class="fs-1 fw-medium">₹ {{this.price.adult}}</span>
                                </div>
                                <div class="d-flex align-items-center"> <span class="fs-0 fw-medium">{{this.days}} Days
                                        Trip</span>

                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Product Details Section End -->


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/user.js"></script>

<script>
    $("#booking").validate();
</script>

<script>
    const $form = $('#rating')
    $form.on('submit', submitHandler)

    function submitHandler(e) {
        e.preventDefault()
        $.ajax({
            url: '/submitReview',
            method: 'post',
            data: $form.serialize(),
            success: (response) => {
                if (response.status) {
                    window.location.reload()
                }

            }
        })
    }
</script>


<script>
    $(document).ready(function(){
    var ratings = 4.1;
    var starTotal = 5;
    var starPercentage = ratings / starTotal * 100;
    var star = starPercentage+'%';
    $(".stars-inner").width(star);
});
</script>


    <script>
    	$(document).ready(function() {
			$('.minus').click(function () {
				var $input = $(this).parent().find('input');
				var count = parseInt($input.val()) - 1;
				count = count < 1 ? 1 : count;
				$input.val(count);
				$input.change();
				return false;
			});
			$('.plus').click(function () {
				var $input = $(this).parent().find('input');
				$input.val(parseInt($input.val()) + 1);
				$input.change();
				return false;
			});
		});
</script>   


<style>
    .minus, .plus {
    padding: 0 15px;
    /* border: 1px solid black; */
    margin: 0 5px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    background-color: black;
}
.input-qty {
    width: 70px;
    text-align: center;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}
</style>